@page
@model Taller.App.Front.Pages.LoginModel
@{
  <form class="card" style="width: 18rem; margin: 100px 25px 75px 500px; background-color: #d3ecf2">
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="color: black;">Ingresa tu Usuario</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca compartas tus datos</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color: black ;">contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
  </form>
}
